@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

html,
body {
  background: #171934 cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(138, 33, 33);
  background: linear-gradient(
    122deg,
    rgba(138, 33, 33, 1) 0%,
    rgba(23, 25, 52, 1) 100%
  );
  color: beige;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: whitesmoke;
  padding: 1rem;
  display: block;
}

.navbar-links .active,
.navbar-links a:hover {
  background: rgba(69, 123, 157, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(69, 123, 157, 0.25);
  border-radius: 5px;
  margin-top: 8px;
  margin-left: 20px;
  padding: 8px;
  color: white;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
}

/* ===========================
   ====== Search Box ====== 
   =========================== */

.search {
  /* border: 2px solid #e53e3e; 
  background: rgba(23, 25, 52, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(23, 25, 52, 0.25);*/
  overflow: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.search input[type='text'] {
  border: 0px;
  width: 67%;
  padding: 10px 10px;
}

.search input[type='text']:focus {
  outline: 0;
}

.search input[type='submit'] {
  border: 0px;
  background: none;
  background: rgba(23, 25, 52, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(23, 25, 52, 0.25);
  color: #fff;
  float: right;
  padding: 10px;
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-bottom-right: 5px;
  cursor: pointer;
}

.bg-img {
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  width: 90%;
  height: 80%;
}

.banner {
  background-color: #171934;
}

.banner-img {
  background-color: #171934;
  padding-left: 80px;
  width: 100%;
}

.banner-text h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 60px;
  color: #e53e3e;
  background: rgba(20, 33, 61, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  max-width: fit-content;

  background-size: 80%;
  margin-bottom: -150px;
  margin-left: 150px;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.banner-text p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  color: #e53e3e;
  background-color: rgba(23, 25, 52, 0.6);
  text-align: justify;
  width: 1000px;
  margin-left: 200px;
  text-indent: 50px;
}

.carousel-title h1 {
  color: #e53e3e;
  margin-top: -20px;
  padding-top: 40px;
  margin-left: 80px;
}

.container-valagents {
  margin-bottom: -10px;
  background-color: #171934;
}

/*.carousel-bg {
  position: relative;
  z-index: 1;
}

 .carousel-inner 
  margin-top: -20px;
  margin-left: 70px;
  background: url(img-exc12/carousel-bg.jpg) no-repeat;
  align-items: center;
  max-width: 1500px;
  max-height: 1200px;
}{ */

.carousel-inner .carousel-item .agent {
  margin: auto;
  padding-top: 100px;
  margin-bottom: 100px;
  padding-left: 400px;
  position: relative;
  z-index: 999;
}

img#agent-img {
  width: 60%;
  height: 40%;
}

.agent-info {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  margin-left: 50px;
  margin-bottom: 100px;
  width: 30%;
  height: 40%;
  max-width: 100%;
  max-height: 100%;
  background: rgba(70, 23, 23, 0.75);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  border-radius: 10px;
  z-index: 2;
}

.container-carousel {
  background-color: #171934;
}

.container-cards {
  background-color: #171934;
}

h1#card-title {
  color: #e53e3e;
  margin-left: 80px;
  padding-top: 30px;
}

.duelist-card {
  background: none;
  margin: auto;
}

.card-body p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}

button.learnmore a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  color: white;
}

h1#agents-title {
  color: #e53e3e;
  margin-left: 80px;
  padding-top: 30px;
}

p.footer {
  color: #e53e3e;
  margin-left: 80px;
  padding-top: 30px;
}

h1.contact-us {
  text-align: center;
  margin-top: 30px;
  margin-bottom: -20px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  color: #e53e3e;
}

.form-control {
  margin-top: 30px;
}

label#nameFloat,
label#emailFloat {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

.soc-med-sec h3 {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  color: #e53e3e;
  padding-bottom: 50px;
}

form label#name,
label#email,
label#comment {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #e53e3e;
}

input.form-control,
textarea.form-control {
  margin-top: -1px;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
  margin-left: 550px;
  margin-right: 50px;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
